<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<!-- start the door controller -->
	<rosparam file="$(find cme_gazebo)/controller/controllers.yaml" command="load"/>
	<node name="door_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn joint_state_controller door_1_position door_2_position door_3_position" respawn="false" output="screen"/>

	<!-- start the door control service -->
	<node name="door_service" pkg="cme_control" type="door_service.py"/>
</launch>
