<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="robot" default=""/>

	<!-- start the door control service -->
	<node name="door_service" pkg="cme_control" type="door_service.py" output="screen"/>
	<node name="light_service" pkg="cme_control" type="light_service.py" output="screen"/>

	<!-- Start the marker nodes -->
	<node name="door_marker" pkg="cme_control" type="door_marker.py" output="screen"/>
	<node name="light_marker" pkg="cme_control" type="light_marker.py" output="screen"/>
	<node name="room_marker" pkg="cme_control" type="room_marker.py" output="screen"/>
	<node name="path_markers" pkg="cme_control" type="path_markers.py" output="screen"/>

	<!-- Start action servers -->
	<!-- NOTE: action servers should be in the root namespace -->
	<group ns="/">
		<rosparam if="$(eval robot != '')" command="load" file="$(find cme_control)/config/$(arg robot)/cme_services.yaml"/>
		<node name="rotate_in_place" pkg="cme_control" type="rotate_in_place_server.py"/>
		<node name="navigate_room" pkg="cme_control" type="navigate_room_server.py" output="screen"/>
		<!-- https://answers.ros.org/question/233353/set-delay-between-starting-nodes-within-launch-file/?answer=316355#post-id-316355 -->
		<!--node name="axclient_rotate_in_place" pkg="actionlib" type="axclient.py" args="/rotate_in_place"
		      launch-prefix="bash -c 'sleep 15; $0 $@' "/-->
		<node name="axclient_navigate_room" pkg="actionlib" type="axclient.py" args="/navigate_room"
		      launch-prefix="bash -c 'sleep 15; $0 $@' "/>
	</group>
</launch>
