<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="robot" default="mm_400"/>
	<arg name="manipulator" default=""/>
	<arg name="building" default="mp_model_wider"/>

	<arg name="robot_namespace" default="$(arg robot)"/>
	<arg name="manipulator_namespace" default="$(arg manipulator)"/>
	<arg name="world_namespace" default="world"/>

	<arg name="cme_services" default="true"/>
	<arg name="use_xacro_world" default="true"/>

	<arg name="gazebo" default="true"/>
	<arg name="rviz" default="true"/>
	<arg name="amcl" default="true"/>

	<!-- world and world control -->
	<include if="$(arg gazebo)" file="$(find cme_gazebo)/launch/gazebo.launch">
		<arg if="$(arg use_xacro_world)"
		     name="world_file" value="worlds/empty.world"/>
	</include>
	<include if="$(arg use_xacro_world)" file="$(find cme_launch)/launch/world.launch">
		<arg name="gazebo" value="$(arg gazebo)"/>
		<arg name="building" value="$(arg building)"/>
		<arg name="world_namespace" value="$(arg world_namespace)"/>
		<arg name="cme_services" value="$(arg cme_services)"/>
	</include>
	<group unless="$(arg use_xacro_world)">
		<include if="$(arg gazebo)" file="$(find cme_gazebo)/launch/gazebo.launch"/>
	</group>

	<!-- robot and manipulator -->
	<include file="$(find cme_launch)/launch/robot.launch">
		<arg name="robot" value="$(arg robot)"/>
		<arg name="gazebo" value="$(arg gazebo)"/>
		<arg name="building" value="$(arg building)"/>
		<arg name="use_amcl" value="$(arg amcl)"/>
	</include>

	<include if="$(eval manipulator != '')"
	         file="$(find cme_launch)/launch/manipulator.launch">
		<arg name="manipulator" value="$(arg manipulator)"/>
		<arg if="$(eval robot == 'husky')"
		     name="parent" value="top_plate_rear_link"/>
		<arg if="$(eval robot == 'mm_400')"
		     name="parent" value="cabinet"/>
	 </include>

	<!-- visualization and other tools -->
	<include if="$(arg rviz)" file="$(find cme_launch)/launch/rviz.launch">
		<arg name="rviz_file" value="$(find cme_launch)/rviz/full_$(arg robot).rviz"/>
	</include>
</launch>
