<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="gazebo" default="true"/>
	<arg name="rviz" default="true"/>
	<arg name="robot" default="mm_400"/>
	<arg name="world_namespace" default="world"/>
	<arg name="cme_services" default="true"/>
	<arg name="manipulator" default=""/>
	<arg name="use_xacro_world" default="true"/>

	<!-- robots -->
	<include file="$(find cme_launch)/launch/robot.launch">
		<arg name="robot" value="$(arg robot)"/>
		<arg if="$(eval manipulator != '')"
		     name="manipulator" value="$(arg manipulator)"/>
		<arg name="gazebo" value="$(arg gazebo)"/>
	</include>

	<!-- world and world control -->
	<group if="$(arg use_xacro_world)">
		<include if="$(arg gazebo)" file="$(find cme_gazebo)/launch/gazebo.launch">
			<arg name="world_file" value="worlds/empty.world"/>
		</include>
		<include file="$(find cme_launch)/launch/world.launch">
			<arg name="gazebo" value="$(arg gazebo)"/>
			<arg name="world_namespace" value="$(arg world_namespace)"/>
		</include>
	</group>
	<group unless="$(arg use_xacro_world)">
		<include if="$(arg gazebo)" file="$(find cme_gazebo)/launch/gazebo.launch"/>
	</group>
	<!--include if="$(arg cme_services)" file="$(find cme_control)/launch/cme_services.launch"/-->

	<!-- visualization and othre tools -->
	<include if="$(arg rviz)" file="$(find cme_launch)/launch/rviz.launch">
		<arg name="rviz_file" value="$(find cme_launch)/rviz/full_$(arg robot).rviz"/>
	</include>
</launch>
