<?xml version="1.0"?>
<launch>
	<arg name="robot_namespace" default="/"/>
	<arg name="gazebo" default="true"/>
	<!-- Husky parameters -->
	<arg name="laser_enabled" default="true"/>
	<arg name="realsense_enabled" default="false"/>

	<!-- AMCL parameters -->
	<arg name="map_file" default="$(find cme_navigation)/maps/cme_map.yaml"/>

	<!-- Spawn Husky -->
	<include if="$(arg gazebo)" file="$(find husky_gazebo)/launch/spawn_husky.launch">
		<arg name="robot_namespace" value="$(arg robot_namespace)"/>
		<arg name="laser_enabled" value="$(arg laser_enabled)"/>
		<arg name="realsense_enabled" value="$(arg realsense_enabled)"/>
	</include>

	<!--- Run AMCL -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
	<include file="$(find husky_navigation)/launch/amcl.launch" />

	<!--- Run Move Base -->
	<include file="$(find husky_navigation)/launch/move_base.launch" />

	<!-- Ensure base link transform established -->
	<!--node pkg="tf" type="static_transform_publisher" name="base_to_map" args="0 0 0 0 0 0 base_link map 100" /-->
</launch>
