<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="paused" default="false" doc="Starts gazebo in paused mode" />
	<arg name="gui" default="true" doc="Starts gazebo gui" />

	<!-- startup simulated world -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" default="worlds/empty.world"/>
		<arg name="paused" value="$(arg paused)"/>
		<arg name="gui" value="$(arg gui)"/>
	</include>

	<!-- Launch other relevant files-->
	<include file="$(find cme_description)/launch/include/building_description.launch.xml"/>

	<!-- push robot_description to factory and spawn robot in gazebo -->
	<node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model complete_mp_model -z 0.1" respawn="false" output="screen" />

	<!-- Robot state publisher -->
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
		<param name="publish_frequency" type="double" value="20.0" />
		<param name="tf_prefix" type="string" value="" />
	</node>

	<!-- Fake Calibration -->
	<node pkg="rostopic" type="rostopic" name="fake_joint_calibration"
	      args="pub /calibrated std_msgs/Bool true" />

	<!-- start the door controller -->
	<rosparam file="$(find cme_gazebo)/controller/controllers.yaml" command="load"/>
	<node name="door_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn door_1_position door_2_position door_3_position" respawn="false" output="screen"/>

	<!-- load other controllers -->
	<!--node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="load joint_group_position_controller door_1_position door_2_position door_3_position" /-->
	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
		    output="screen" args="door_1_position door_2_position joint_state_controller"/>

	<!-- Start RVIZ -->
	<include file="$(find cme_launch)/launch/rviz.launch"/>

</launch>
