<?xml version="1.0"?>
<robot name="complete_mp_model" xmlns:xacro="http://ros.org/wiki/xacro">

	<!--
	 Args
	-->
	<xacro:arg name="world_namespace" default="/" />
	<xacro:arg name="doors" default="true" />

	<!--
	 Includes
	-->
	<xacro:include filename="$(find cme_description)/urdf/materials.xacro" />
	<xacro:include filename="$(find cme_description)/urdf/debug.xacro.xml" />
	<xacro:include filename="$(find cme_description)/urdf/door.xacro.xml" />
	<xacro:include filename="$(find cme_description)/urdf/light_switch.xacro.xml" />
	<xacro:include filename="$(find cme_description)/urdf/gazebo.xacro.xml" />

	<!-- Used for fixing robot to Gazebo 'base_link' -->
	<link name="world"/>

	<!--
	 Building
	-->
	<xacro:include filename="$(find cme_description)/urdf/building/mp_model_wider.urdf.xacro" />

	<!--
	 Rooms
	-->
	<xacro:macro name="room" params="id xyz rpy parent:=world">
		<link name="room_${id}"/>
		<joint name="room_${id}_joint" type="fixed">
			<origin xyz="${xyz}" rpy="${rpy}"/>
			<parent link="${parent}"/>
			<child link="room_${id}"/>
		</joint>
	</xacro:macro>
	<!-- Coordinates are grabbed by using the 2d position tool and listening to /initialpose -->
	<xacro:room id="1" xyz="1.6 3.85 1" rpy="0 0 0"/>
	<xacro:room id="2" xyz="-0.2 0.3 1" rpy="0 0 0"/>
	<xacro:room id="3" xyz="3.9 3.5 1" rpy="0 0 0"/>
	<xacro:room id="4" xyz="4 0.4 1" rpy="0 0 0"/>
	<xacro:room id="5" xyz="4 -1.5 1" rpy="0 0 0"/>
	<xacro:room id="6" xyz="2 -2.5 1" rpy="0 0 0"/>
	<xacro:room id="7" xyz="-0.8 -4.5 1" rpy="0 0 0"/>
	<xacro:room id="8" xyz="1.5 -4.5 1" rpy="0 0 0"/>
	<xacro:room id="9" xyz="4 -4.5 1" rpy="0 0 0"/>

	<!--
	 Doors
	-->
	<xacro:if value="$(arg doors)">
		<xacro:door id="1" parent="building_footprint" width="1.4" height="2.43" depth="0.05" mirror="true"
			xyz="1.85 2.539 0" rpy="0 0 0"/>
		<!-- Room 2 doesn't have a door -->
		<xacro:door id="3" parent="building_footprint" width="0.85" height="2.43" depth="0.05" flip="true"
			xyz="2.59 1.97 0" rpy="0 0 ${pi/2}"/>
		<xacro:door id="4" parent="building_footprint" width="1.0" height="2.43" depth="0.05" flip="true"
			xyz="3.15 1.46 0" rpy="0 0 0"/>
		<xacro:door id="5" parent="building_footprint" width="0.70" height="2.43" depth="0.05" flip="true"
			xyz="2.57 -1.6 0" rpy="0 0 ${pi/2}"/>
		<xacro:door id="6" parent="building_footprint" width="1.2" height="2.43" depth="0.05" flip="true"
			xyz="0.16 -2.48 0" rpy="0 0 ${pi/2}"/>
		<xacro:door id="7" parent="building_footprint" width="1.0" height="2.43" depth="0.05" flip="true"
			xyz="-0.42 -3.258 0" rpy="0 0 0"/>
		<xacro:door id="8" parent="building_footprint" width="1.0" height="2.43" depth="0.05" flip="true"
			xyz="1.92 -3.258 0" rpy="0 0 0"/>
		<xacro:door id="9" parent="building_footprint" width="1.0" height="2.43" depth="0.05" flip="true"
			xyz="2.57 -2.66 0" rpy="0 0 ${pi/2}"/>
	</xacro:if>

	<!--
	 light switches
	-->
	<xacro:light_switch id="1" parent="building_footprint" xyz="0.91 2.529 1.75" rpy="0 0 0"/>
	<xacro:light_switch id="7" parent="building_footprint" xyz="0.147 -4.322 1.75" rpy="0 0 -${pi/2}"/>
	<xacro:light_switch id="8" parent="building_footprint" xyz="2.667 -4.322 1.75" rpy="0 0 -${pi/2}"/>
</robot>
