<?xml version="1.0"?>
<robot name="complete_mp_model" xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:include filename="$(find cme_description)/urdf/materials.xacro" />
	<xacro:include filename="$(find cme_description)/urdf/mp_model.urdf.xacro" />
	<xacro:include filename="$(find cme_description)/urdf/door.xacro.xml" />

	<xacro:macro name="marker" params="name parent *origin">
		<link name="${name}_marker_link">
			<visual>
				<geometry> <sphere radius=".1" /> </geometry>
				<material name="red" />
			</visual>
		</link>
		<joint name="${name}_marker_joint" type="fixed">
			<xacro:insert_block name="origin" />
			<parent link="${parent}" />
			<child link="${name}_marker_link" />
		</joint>
	</xacro:macro>

	<xacro:marker name="door1" parent="building_footprint">
		<origin xyz="2.06 -3.5 0" rpy="0 0 0" />
	</xacro:marker>

	<xacro:marker name="door2" parent="building_footprint">
		<origin xyz="2.54 -4.02 0" rpy="0 0 0"/>
	</xacro:marker>

	<xacro:marker name="door3" parent="building_footprint">
		<origin xyz="3.05 -4.53 0" rpy="0 0 0"/>
	</xacro:marker>

	<xacro:door id="1" parent="building_footprint" width="0.70" height="2.43" depth="0.05">
		<origin xyz="2.06 -3.5 0" rpy="0 0 0"/>
	</xacro:door>
	<xacro:door id="2" parent="building_footprint" width="0.70" height="2.43" depth="0.05">
		<origin xyz="2.54 -4.02 0" rpy="0 0 ${pi/2}"/>
	</xacro:door>
	<xacro:door id="3" parent="building_footprint" width="0.70" height="2.43" depth="0.05">
		<origin xyz="3.05 -4.53 0" rpy="0 0 ${pi}"/>
	</xacro:door>
</robot>
