<?xml version="1.0"?>
<!-- TODO: Add grippers for arms -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mm_400">
	<xacro:arg name="robot_namespace" default="/" />

	<xacro:arg name="manipulator" default="" />
	<xacro:arg name="gripper" default="true" />

	<xacro:arg name="camera" default="false" />
	<xacro:arg name="micro_scan" default="true" />
	<xacro:arg name="sick_S300" default="false" />
	<xacro:arg name="imu" default="true" />
	<xacro:arg name="ultrasonic" default="false" />

	<xacro:property name="robot_namespace" value="$(arg robot_namespace)"/>

	<!--
	 Includes
	-->

	<!-- mm_400 -->
	<xacro:include filename="$(find cme_description)/robots/mm_400/urdf/xacros/mp_400_gazebo.xacro" />
	<xacro:include filename="$(find cme_description)/robots/mm_400/urdf/xacros/mp_400_body.xacro" />
	<xacro:include filename="$(find cme_description)/robots/mm_400/urdf/xacros/mp_400_caster_wheel.xacro" />
	<xacro:include filename="$(find cme_description)/robots/mm_400/urdf/xacros/mp_400_wheel.xacro" />
	<xacro:include filename="$(find cme_description)/robots/mm_400/urdf/xacros/cabinet.xacro" />

	<!-- manipulators -->
	<xacro:if value="$(eval manipulator == 'pilz')">
		<xacro:include filename="$(find prbt_support)/urdf/prbt_macro.xacro"/>
	</xacro:if>

	<xacro:if value="$(eval manipulator == 'panda')">
		<xacro:include filename="$(find franka_description)/robots/panda_arm.xacro"/>
		<xacro:if value="$(arg gripper)">
			<xacro:include filename="$(find franka_description)/robots/hand.xacro"/>
		</xacro:if>
	</xacro:if>

	<!-- SENSORS -->
	<!-- TODO: The sick S300 urdf is not complete... -->
	<!--xacro:if value="$(arg sick_S300)">
		<xacro:include filename="$(find cme_description)/robots/mm_400/urdf/xacros/sick_S300.xacro" />
	</xacro:if-->

	<xacro:if value="$(arg micro_scan)">
		<xacro:include filename="$(find cme_description)/robots/mm_400/urdf/xacros/micro_scan.xacro" />
	</xacro:if>

	<xacro:if value="$(arg imu)">
		<xacro:include filename="$(find cme_description)/robots/mm_400/urdf/xacros/imu.xacro" />
	</xacro:if>

	<xacro:if value="$(arg ultrasonic)">
		<xacro:include filename="$(find cme_description)/robots/mm_400/urdf/xacros/ultrasonic.xacro" />
	</xacro:if>

	<xacro:if value="$(arg camera)">
		<xacro:include filename="$(find cme_description)/robots/mm_400/urdf/xacros/camera.xacro" />
	</xacro:if>

	<!--
	 Robot urdf
	-->

	<xacro:mp_400_base name="base_link"/>

	<link name="base_footprint"/>

	<joint name="base_footprint_joint" type="fixed">
		<origin xyz="0 0 0" rpy="0 0 0" />
		<parent link="base_link" />
		<child link="base_footprint" />
	</joint>

	<xacro:caster_wheel name="wheel_front_left" parent="base_link">
		<origin xyz="0.165 0.155 0.036" rpy="0 0 ${pi/2}" />
	</xacro:caster_wheel>

	<xacro:caster_wheel name="wheel_back_left" parent="base_link">
		<origin xyz="-0.220 0.155 0.036" rpy="0 0 ${pi/2}" />
	</xacro:caster_wheel>

	<xacro:caster_wheel name="wheel_front_right" parent="base_link">
		<origin xyz="0.165 -0.155 0.036" rpy="0 0 ${pi/2}" />
	</xacro:caster_wheel>

	<xacro:caster_wheel name="wheel_back_right" parent="base_link">
		<origin xyz="-0.220 -0.155 0.036" rpy="0 0 ${pi/2}" />
	</xacro:caster_wheel>

	<xacro:wheel name="right" parent="base_link">
		<origin xyz="0. -0.26 0.074" rpy="0 0 ${pi/2}" />
	</xacro:wheel>

	<xacro:wheel name="left" parent="base_link">
		<origin xyz="-0. 0.26 0.074" rpy="0 0 ${pi/2}" />
	</xacro:wheel>

	<xacro:mm_400_cabinet name="cabinet" parent="base_link">
		<origin xyz="0.02 0 0.551" rpy="0 0 ${pi}" />
	</xacro:mm_400_cabinet>

	<!--
	 Manipulator urdf
	-->

	<!-- Robot arm -->
	<xacro:if value="$(eval manipulator == 'pilz')">
		<xacro:prbt prefix="pilz"/>
		<joint name="pilz-base_link" type="fixed">
			<parent link="base_link"/>
			<child link="pilzbase_link"/>
		</joint>
	</xacro:if>

	<!-- Panda -->
	<xacro:if value="$(eval manipulator == 'panda')">
		<xacro:panda_arm connected_to="cabinet_link"/>
		<xacro:hand ns="panda" rpy="0 0 ${-pi/4}" connected_to="panda_link8"/>
	</xacro:if>

	<!--
	 Sensor urdf
	-->

	<xacro:if value="$(arg micro_scan)">
		<xacro:sick_laser_v0 name="lidar_1" parent="base_link" ros_topic="scan">
			<origin xyz="0.230 0 0.110" rpy="0 ${pi} ${pi}" />
		</xacro:sick_laser_v0>
	</xacro:if>

	<xacro:if value="$(arg camera)">
		<xacro:camera name="camera" parent="base_link">
			<origin xyz="0 0 0.38" rpy="0 0 0" />
		</xacro:camera>
	</xacro:if>

	<xacro:if value="$(arg imu)">
		<xacro:imu name="imu_1" parent="base_link">
			<origin xyz="0.100 0 0.300" rpy="0 0 ${pi}" />
		</xacro:imu>
	</xacro:if>

	<xacro:if value="$(arg ultrasonic)">
		<xacro:us_sensor name="us_1" parent="base_link">
			<origin xyz="0.100 0 0.300" rpy="0 ${pi} ${pi}" />
		</xacro:us_sensor>
		<!-- SENSOR 2 -->
		<xacro:us_sensor name="us_2" parent="base_link">
			<origin xyz="0.110 0 0.300" rpy="0 ${pi} ${pi}" />
		</xacro:us_sensor>
		<!-- SENSOR 3 -->
		<xacro:us_sensor name="us_3" parent="base_link">
			<origin xyz="0.120 0 0.300" rpy="0 ${pi} ${pi}" />
		</xacro:us_sensor>
		<!-- SENSOR 4 -->
		<xacro:us_sensor name="us_4" parent="base_link">
			<origin xyz="0.130 0 0.300" rpy="0 ${pi} ${pi}" />
		</xacro:us_sensor>
		<!-- SENSOR 5 -->
		<xacro:us_sensor name="us_5" parent="base_link">
			<origin xyz="0.140 0 0.300" rpy="0 ${pi} ${pi}" />
		</xacro:us_sensor>
		<!-- SENSOR 6 -->
		<xacro:us_sensor name="us_6" parent="base_link">
			<origin xyz="0.150 0 0.300" rpy="0 ${pi} ${pi}" />
		</xacro:us_sensor>
		<!-- SENSOR 7 -->
		<xacro:us_sensor name="us_7" parent="base_link">
			<origin xyz="0.160 0 0.300" rpy="0 ${pi} ${pi}" />
		</xacro:us_sensor>
		<!-- SENSOR 8 -->
		<xacro:us_sensor name="us_8" parent="base_link">
			<origin xyz="0.170 0 0.300" rpy="0 ${pi} ${pi}" />
		</xacro:us_sensor>
		<!-- SENSOR 9 -->
		<xacro:us_sensor name="us_9" parent="base_link">
			<origin xyz="0.180 0 0.300" rpy="0 ${pi} ${pi}" />
		</xacro:us_sensor>
		<!-- SENSOR 10 -->
		<xacro:us_sensor name="us_10" parent="base_link">
			<origin xyz="0.100 0 0.300" rpy="0 ${pi} ${pi}" />
		</xacro:us_sensor>
		<!-- SENSOR 11 -->
		<xacro:us_sensor name="us_11" parent="base_link">
			<origin xyz="0.100 0 0.300" rpy="0 ${pi} ${pi}" />
		</xacro:us_sensor>
		<!-- SENSOR 12 -->
		<xacro:us_sensor name="us_12" parent="base_link">
			<origin xyz="0.190 0 0.300" rpy="0 ${pi} ${pi}" />
		</xacro:us_sensor>
		<!-- SENSOR 13 -->
		<xacro:us_sensor name="us_13" parent="base_link">
			<origin xyz="0.200 0 0.300" rpy="0 ${pi} ${pi}" />
		</xacro:us_sensor>
		<!-- SENSOR 14 -->
		<xacro:us_sensor name="us_14" parent="base_link">
			<origin xyz="0.210 0 0.300" rpy="0 ${pi} ${pi}" />
		</xacro:us_sensor>
		<!-- SENSOR 15 -->
		<xacro:us_sensor name="us_15" parent="base_link">
			<origin xyz="0.220 0 0.300" rpy="0 ${pi} ${pi}" />
		</xacro:us_sensor>
		<!-- SENSOR 16 -->
		<xacro:us_sensor name="us_16" parent="base_link">
			<origin xyz="0.230 0 0.300" rpy="0 ${pi} ${pi}" />
		</xacro:us_sensor>
	</xacro:if>
</robot>
