<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="robot" default="mm_400"/>
	<arg name="robot_namespace" default="$(eval optenv('MM_400_NAMESPACE', robot))"/>
	<arg name="manipulator" default="$(eval optenv('MM_400_MANIPULATOR', 'pilz'))"/>

	<arg name="gazebo" default="true"/>
	<arg name="scanunifier" default="false"/>

	<!-- AMCL parameters -->
	<arg name="map_file" default="$(find cme_navigation)/maps/$(arg robot)/cme_map.yaml"/>

	<group ns="$(arg robot_namespace)">
		<!-- Load the robot description and manipulator if specified -->
		<include file="$(find cme_launch)/launch/include/mm_400/spawn_robot.launch.xml">
			<arg name="robot_namespace" value="$(arg robot_namespace)"/>
			<arg name="manipulator" value="$(arg manipulator)"/>
			<arg name="gazebo" value="$(arg gazebo)"/>
		</include>

		<include file="$(find cme_launch)/launch/include/mm_400/move_base.launch.xml">
			<arg name="robot_namespace" value="$(arg robot_namespace)"/>
		</include>

		<include file="$(find cme_launch)/launch/include/mm_400/control.launch.xml">
			<arg name="robot" value="$(arg robot)"/>
			<arg name="manipulator" value="$(arg manipulator)"/>
		</include>

		<include if="$(arg scanunifier)" file="$(find neo_simulation)/config/mm_400/scan_unifier/mm_400_scan_unifier.launch"/>

		<!-- Ensure a transform is established between world and robot -->
		<node pkg="tf" type="static_transform_publisher" name="base_to_map" args="0 0 0 0 0 0 base_link world 100" />
	</group>

</launch>
