<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="robot" default="mm_400"/>
	<arg name="robot_namespace" default="$(eval optenv('MM_400_NAMESPACE', '/'))"/>

	<arg name="use_amcl" default="$(optenv MM_400_AMCL true)"/>
	<arg name="gmapping" default="$(optenv MM_400_GMAPPING false)"/>

	<arg name="gazebo" default="$(optenv MM_400_GAZEBO true)"/>
	<!-- NOTE: scan_unifier requires all input_scan topics before it publishes -->
	<arg name="scan_unifier" default="$(optenv MM_400_SCAN_UNIFIER false)"/>

	<arg name="building" default="mp_model_wider"/>

	<!-- AMCL parameters -->
	<arg name="map_file" default="$(find cme_navigation)/maps/$(arg robot)/cme_map.yaml"/>

	<group ns="$(arg robot_namespace)">
		<!-- Load the robot description -->
		<include file="$(find cme_launch)/launch/include/mm_400/spawn_robot.launch.xml">
			<arg name="robot_namespace" value="$(arg robot_namespace)"/>
			<arg name="gazebo" value="$(arg gazebo)"/>
		</include>

		<include file="$(find cme_launch)/launch/include/mm_400/move_base.launch.xml">
			<arg name="robot_namespace" value="$(arg robot_namespace)"/>
		</include>

		<include file="$(find cme_launch)/launch/include/mm_400/control.launch.xml">
			<arg name="robot" value="$(arg robot)"/>
		</include>

		<group if="$(arg scan_unifier)">
			<node pkg="cob_scan_unifier" type="scan_unifier_node" name="scan_unifier_node" respawn="false" output="screen">
				<rosparam command="load" file="$(find cme_control)/config/$(arg robot)/scan_unifier.yaml"/>
			</node>
		</group>

		<group unless="$(arg scan_unifier)">
			<!-- Relay lidar scan topic -->
			<node pkg="topic_tools" type="relay" name="lidar1_to_scan" args="lidar_1/scan /scan"/>
		</group>

		<include if="$(arg use_amcl)" file="$(find cme_launch)/launch/include/$(arg robot)/amcl.launch.xml">
			<arg name="map_file" value="$(arg map_file)"/>
			<arg if="$(eval robot_namespace != '/')"
			     name="tf_prefix" value="$(arg robot_namespace)"/>
		</include>
	</group>

</launch>
